h2{
	text-align: center;
}

#main{
	padding-bottom: 100px;
}

table.items-list{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

table.items-list th{
	border-bottom: 5px solid #000000;
	text-align: center;
	padding: 5px 25px;
}

table.items-list td{
	border-bottom: 1px solid #000000;
	text-align: center;
	padding: 5px 25px;
}

#add-record{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

#prio,
#port,
#weight{
	display: none;
}